<html
    <head> 
    </head>
    <body>
        <p align="center"><b>Consent Form</b></p>
        <b> </b>

        <br><b>Purpose of this Study</b>

        <br>The goal of this project is to explore the factors that could influence people’s perception and interaction with tweets.

        <br><b>Experiment Procedure</b>

        <br>You will read 12 tweets and rate your impressions about each of them. Then you will fill out a short survey about demographics.

        <br><b>Expected Duration</b>

        <br>This experiment will be about 20 minutes.

        <br><b>Participant Requirements</b>

        <br>Participants must be at least 18 years old to participate.

        <br><b>Risks</b>

        <br>The risks and discomfort associated with participation in this study are no greater than those ordinarily encountered in daily life.

        <br><b>Rights</b>

        <br>Your participation is voluntary.  You are free to stop your participation at any point.  Refusal to participate or withdrawal of your consent or discontinued participation in the study will not result in any penalty or loss of benefits or rights to which you might otherwise be entitled.  The Principal Investigator may at his/her discretion remove you from the study for any of a number of reasons.  In such an event, you will not suffer any penalty or loss of benefits or rights which you might otherwise be entitled. It will not affect your current or future relationship with Cornell University.

        <br><b>Benefits</b>

        <br>There may be no personal benefit from your participation in the study but the knowledge received may be of value to humanity.

        <b> </b>

        <br><b>Compensation &amp; Costs</b>

        <br>You will receive 0.5 SONA credit for participating in this study. This is for your time and personal cost of participation. There will be no cost to you if you choose not to participate in this study.

        <b> </b>

        <br><b>Confidentiality</b>

        <br>Your consent form and data will be confidential. Your identity will be kept confidential throughout the study. Any data or records collected in the study will only be accessible to the researchers involved. When publishing the results, we will not include any information that will make it possible to identify you.

        <br>Because the recruitment of participants is facilitated by using email and Internet, the message communicated via Internet could be read by a third party due to the nature of Internet technologies.  However, the researchers will not intentionally disclose any communication contents to any third parties.

        <br><b>Right to Ask Questions &amp; Contact Information</b>

        <br>If you have any questions about this study, you should feel free to ask them now or anytime throughout the study by contacting Jin Liu at <a href="mailto:jl2523@cornell.edu">jl2523@cornell.edu</a>, Ke Xie at <a href="mailto:kx29@cornell.edu">kx29@cornell.edu</a>,

        or Jean Marcel Dos Reis Costa at <a href="mailto:jmd487@cornell.edu">jmd487@cornell.edu</a>.

        <br>If you have any questions or concerns regarding your rights as a subject in this study, you may contact the Institutional Review Board (IRB) at 607-255-5138 or access their website at http://www.irb.cornell.edu. You may also report your concerns or complaints anonymously through Ethicspoint (http://www.ethicspoint.com/) or by calling toll free at 1-866-293-3077. Ethicspoint is an independent organization that serves as a liaison between the University and the person bringing the complaint so that anonymity can be ensured. <b></b>

        <b> </b>


        <b> </b>

        <br><b>Statement of Consent</b>

        <br>By checking the box below, I acknowledge that I am at least 18 years old, I have read all of this form and understand and agree to the material contained thereon and I agree to participate. This form can be printed for me to keep.
        <table cellspacing="0" cellpadding="0" align="left">
            <tbody>
                <tr>
                    <td width="4" height="10"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <form name="start"  method="get" action="{{next}}" >
            <input type="submit" value="Yes, I agree" />
        </form>
        
        



        <p align="center"></p>
        
        Thanks!

        Research Team


    </body>
</html>
